---
layout: default
---
<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.date | date: "%Y-%m-%d" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
      		<article class="post-content">
    		{{ post.excerpt }}阅读全文
  			</article> 
        <hr/>
      </li>
    {% endfor %}
  </ul>

</div>
